body {
    font-family: 'Roboto', sans-serif;
    transition: 1s;
}

.heading {
    width: 180vh;
    margin: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.mode {
    width: 250px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mode button {
    width: 90px;
    height: 40px;
    background-image: linear-gradient(to right, #3A9DD4 , #30cbc6 50%);
    border: none;
    border-radius: 35px;
}

.mode div {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
    transition: .7s;
    background-color: white;
    margin-left: 40px;
}

.container-1 {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 196vh;
    height: 35vh;
    padding-bottom: 100px;
}

.media {
    height: inherit;
    width: 35vh;
    border-top: solid 6px;
    border-top-color: #fe7e6d;
    transition: 1s;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    transition: .3s;
}

.info span {
    font-weight: 800;
    padding: 5px;
    color: #5E6171;
}

.info h1 {
    font-size: 60px;
    letter-spacing: 6px;
}

.info h2 {
    font-size: 16px;
    letter-spacing: 7px;
    font-weight: 400;
    margin: -35px;
    padding-left: 12px;
    color: #808080;
    text-align: center;
}

.info h3 {
    margin-top: 85px;
    color: #4BA58E;
    width: fit-content;
}

.info:hover {
    cursor: pointer;
    opacity: 0.7;
}


#ov {
    color: #5E6171;
    text-align: left;
    margin-left: 25px;
    margin-top: 100px;
}



.container-2 {
    position: relative;
    top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 196vh;
    height: 40vh;
}

.container-2 .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45vh;
    height: 18vh;
    border: none;
    border-radius: 15px;
    transition: 1s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.box h2 {
    color: #5E6171;
    font-size: 22px;
    padding-top: 15px;
}

.box h3 {
    color: black;
    font-size: 40px;
}

.box h4 {
    color: #4BA58E;
    padding-top: 15px;
}

.col-1, .col-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: inherit;
    width: 140px;
    padding: 25px;
}

.container-2 .box:hover {
    cursor: pointer;
    opacity: 0.7;
}


#ov, .titel {
    margin-left: 45px;
}


.body-dark {
    background-color: #20222F;
}


.headers-dark {
    color: white;
}


.dark {
    background-color: #252B43;
    color: white;
}

.btn-tog {
    transform: translateX(-40px);
}

.btn-bg {
    background-color: #1D2029;
}

.dark-box-headers {
    color: #8D96BD;
}